<h1>Articles!</h1>
<ul class='flex flex-wrap'>
  <% @articles.each do |article| %>
    <%= link_to article, class:'flex' do %>
    <div class="p-4 w-full text-center">
      <h2 class='overflow-wrap'>
        <%= article.title %>
      </h2></div>
    <% end %>
  <% end %>
</ul>