<nav class='container flex justify-between items-center py-4'>
  <div class="left">
    <h2> <%= link_to 'RailsBlog', root_path %></h2>
  </div>
  <div class="right">
    <%= link_to 'Articles', articles_path %>
    <%= link_to 'Write a post', new_article_path %>
    <% if current_user %>
      <%= link_to current_user.email, edit_user_registration_path %>
    <% end %>
  </div>
</nav>